---
layout: v2/default
---

{% capture i18n_date -%}
{{ page.date | date: "%-d" -}}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{{ site.data.months[m] }}
{{ page.date | date: "%Y" -}}
{% endcapture -%}

<article itemscope itemtype="http://schema.org/Article">

  <div class="Post">

    {% if page.main_photo_big %}
      {% if page.main_photo_big contains '://' %}
        <img src="{{ page.main_photo_big }}" class="heading" itemprop="img heading" title="{% if page.main_photo_caption %}{{ page.main_photo_caption }}{% endif %}">
      {% else %}
        {% img 'v1/{{ page.main_photo_big }}' class:'heading' itemprop:'img heading' title:'{{ page.main_photo_caption }}' %}
      {% endif %}
    {% endif %}

    <div class="Post__inner">
      <div class="Post__header">
        {% if page.main_photo %}
          {% if page.main_photo contains '://' %}
            wadus
          {% else %}
            {% img 'v1/{{ page.main_photo }}' class:'heading' itemprop:'img heading' title:'{{ page.main_photo_caption }}' %}
          {% endif %}
        {% endif %}
        <div class="Post__title"><h1 itemprop="name headline">{{ page.title }}</h1></div>
        <div class="Post__subtitle" itemprop="description">{{ page.subtitle }}</div>
      </div>
      <div class="Post__meta">
        <div class="Post__author"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></div>
        <div class="Post__date">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ i18n_date }}</time>
        </div>
      </div>
      <div class="Post__content" itemprop="articleBody">
        {{ content }}

        {% if page.categories %}
        <div class="Post__categories">
          Más sobre:
          {% for cat in page.categories %}
          <a href="/temas/{{cat}}">{{ cat }}</a> ·
          {% endfor %}
        </div>
        {% endif %}


        <div class="Posts__last">
          <h2>Últimos posts publicados</h2>

        {% for post in site.posts limit:5 %}
          <div class="Posts__post">
            <a class="Blog__entryLink" href="{{ post.url | prepend: site.baseurl }}">
              <span class="date">{{ post.date | date_to_string }}</span>
              <span itemprop="name headline">{{ post.title }}</span>
            </a>
          </div>

        {% endfor %}
          <div class="Posts__post">
            <a class="Blog__entryLink" href="/blog/">
              <span class="date"> </span>
              <span itemprop="name headline">ver todos</span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</article>



{% include v2/contact.html %}
