---
title: Contratos
permalink: "/modulos/contratos/"
layout: v2/default
kind: module
excerpt:
---

<div class="Module__v2">
  <div class="Module__intro Module--Contracts">

    <div class="inner">

      <div class="columns-2 m_v_2">

        <div class="Module__intro-content p_h_r_2 m_v_2">

          <h1>Gobierto Contratos</h1>
          <h2>Toda la información sobre tus contratos públicos de de manera clara y sencilla sin esfuerzo</h2>
          <p>Encuentra, conoce y explica la situación de todos y cada uno de los contratos públicos de tu Administración aprovechando los datos que ya has publicado</p>

          <div class="bg_subtle_gray round-50 created_by">
            Creado por
            <span class="Gobiertify" style="padding: 0 .5em;">Gobierto</span> y
            <a href="http://sergiojimenez.net" target="_blank"><img src="{% asset 'v2/logo-sergio-jimenez-lite' @path %}" style="width: 105px; vertical-align: text-bottom; padding: 0 .5em"></a>
            <a href="#more_info" style="padding: 0 1em; font-size: 0.85em; color: #666; text-decoration: none;">más información</a>
          </div>

        </div>

        <div class="p_4 front_image">
          <img src="{% asset 'v2/modules/Illustration_Contracts.svg' @path %}" class="" style="width: 100%; height: auto;">
        </div>

      </div>


    </div>

    <div class="Module__screen-container bg_virgulillas_with_gradient">

      <div class="Screens">
        <img src="{% asset 'v2/modules/contracts_screen_1.svg' @path %}">
      </div>

    </div>

  </div>

  <div>

    <div class="Section_featured_curved">
      <div class="Section_featured_curved_image"><img src="{% asset 'v2/modules/Illustration_Contracts_Papers.svg' @path %}"></div>
      <div class="Section_featured_curved_content">
        <h2>¿Cuántas horas de trabajo supone subir información de contratos a las plataformas de contratación?</h2>
        <p class="sub">Y aún así es muy difícil ver los contratos públicos de tu Administración.</p>
      </div>
    </div>

    <div class="inner columns-3 p_v_4">

      <div>
        Pocas cosas dicen más de una administración que la manera que tienen que contratar. Los contratos lo dicen prácticamente todo. Dónde va el dinero, cómo se gestiona, qué es lo prioritario, la ética en la gestión y mucho más.
      </div>

      <div>
        Hoy en día se necesita  una mejor y más transparente contratación pública. Para ello existen múltiples plataformas: la plataforma de contratación del estado, la autonómica, la local, los portales de transparencia y de datos abiertos.
      </div>

      <div>
        Cada una de ellas suele precisar miles de horas al año subiendo la misma información. En muchos casos resulta imposible y todo queda desactualizado y diferente en cada sitio.
      </div>

    </div>

  </div>

  <div class="bg_virgulillas_with_cyan_bg block_text_featured p_v_3">

    <p>Convirtamos los trámites en información clara y efectiva para ciudadanía y administraciones.</p>

  </div>

  <div class="inner">

    <div class="columns-2 p_v_4 ">

      <div class="v_c p_h_l_4">
        <h2>No subas datos, explica qué y cómo contratas sin tener que duplicar trabajo.</h2>
        <p class="sub">Simplifica tus procesos y no dupliques trabajo</p>
      </div>

      <div>
        <img src="{% asset 'v2/modules/Illustration_Contracts_Process.svg' @path %}">
      </div>

    </div>

    <div class="columns-2 m_b_4">

      <div>
        <p>Lo que la ciudadanía necesita saber es cuánto se contrata, a quién, cómo, cuanto cuesta y cuánto se ahorra, de manera que pueda entender. Esos datos están ahí.   Nuestra idea es aprovecharlos  para hacer un contenido transparente. Gobierto Contratos busca, obtiene, clasifica, ordena y ayuda a visualizar la información de los contratos públicos de tu administración a partir de los datos de la Plataforma de Contratos del sector público, o de aquella en la que tengas más información. Sin hacer nada más, tendrás toda la información de tus contratos de manera clara, visual y sencilla en un sólo sitio. </p>
      </div>

      <div>
        <p>Queremos ofrecer mecanismos que faciliten una visión completa y clara de cómo se emplea el dinero público. Ayudamos a que la gente pueda ver cada contrato y de cada empresa: cuántos procedimientos ha ganado, por qué importe, etc. Todo a disposición de la ciudadanía y de la organización. </p>
        <p>Además, utilizamos esa misma información para hacer cuadros de mandos internos. Con los mismos datos y el mismo esfuerzo, podrás saber cuánto se está tardando en tramitar contratos, cuántos procedimientos  tienen una sola oferta o qué mecanismos están suponiendo más ahorro real.</p>
      </div>

    </div>

  </div>

  <div class="bg_virgulillas_with_cyan_bg block_text_featured p_v_3">

    <p>Ser transparente no es publicar datos, es ayudar a comprender lo que significa cada uno de ellos en la vida cotidiana de administraciones y ciudadanía. </p>

  </div>

  <div class="inner ">

    <h2 class="center p_v_2">Esto es lo que vas a conseguir</h2>

    <div class="columns-3 p_v_2">

      <div class="center">
        <img src="{% asset 'v2/modules/Icon_Contract.svg' @path %}" class="icon">
        <h3>Muestra la contratación de la organización en su conjunto</h3>
        <p class="sub">Todos los datos de contratación de tu administración de manera clara y visual</p>
      </div>

      <div class="center">
        <img src="{% asset 'v2/modules/Icon_Papers.svg' @path %}" class="icon">
        <h3>Ayuda a encontrar las respuestas que se necesitan</h3>
        <p class="sub">Creamos un sistema de fichas navegables que facilitan que cada persona pueda encontrar información de contratos, empresas y procedimientos</p>
      </div>

      <div class="center">
        <img src="{% asset 'v2/modules/Icon_Check.svg' @path %}" class="icon">
        <h3>Conoce como van mis contratos</h3>
        <p class="sub">Un cuadro de mandos de la organización con los datos fundamentales de la situación de los contratos en curso por tipo, estado, situación, etc.</p>
      </div>

    </div>

    <div class="columns-2 p_v_2">

      <div>
        <img src="{% asset 'v2/modules/Illustration_Round_Graph.svg' @path %}">
      </div>

      <div class=" v_c p_h_l_2 left">
        <h2>¿Por qué Gobierto Contratos?</h2>
        <p class="sub">Innovación tecnológica, visualización de datos, comprensión de lo público y todo ello en manos de tu administración.</p>
        <p>Gobierto contratos trata de aportar lo mejor de la tecnología web y de la visualización de datos al servicio de la transparencia y las necesidades de las Administraciones Públicas. Gobierto contratos es una colaboración entre Populate y Sergio Jimenez.</p>
      </div>

    </div>

    <div class="columns-2 p_v_4" id="more_info">

      <div>
        <a href="http://populate.tools" class="Logo__populate" ></a>
        <p class="m_v_1">Populate (padres de Gobierto) ha trabajado ayudando a transparentar información para instituciones públicas y privadas. Nuestra percepción de los datos como base de la información, y la manera de crear arquitecturas escalables y sostenibles, que permitan un diseño rápido a lo largo del tiempo.</p>
      </div>

      <div>
        <a href="http://sergiojimenez.net" target="_blank"><img src="{% asset 'v2/logo-sergio-jimenez-lite' @path %}" style="width: 150px; vertical-align: text-bottom; padding: 8px 0 9px"></a>
        <p class="m_v_1">Sergio Jiménez es experto en Transformación Digital para Administraciones públicas y uno de los más renombrados autores de investigaciones sobre transparencia y tecnología. Tiene una visión de la tecnología adaptada a las necesidades, obligaciones y potencialidades de las administraciones públicas. </p>
      </div>

    </div>

  </div>

  <div class="bg_virgulillas_with_cyan_bg block_text_featured p_v_3">

    <p>Queremos que tu actividad de contratación sea clara, transparente para ti y para todas las personas ¿Empezamos?</p>

  </div>

  <div class="inner">

    <h2 class="center m_t_4">La comprensión de la contratación pública</h2>

    <div class="columns-3 p_v_4">

      <div class="center">
        <img src="{% asset 'v2/modules/Icon_Paper-graph.svg' @path %}" class="icon">
        <h3>Definición de métricas</h3>
        <p>Analizamos las métricas y datos más relevantes y definitorios para tu Administración</p>
      </div>

      <div class="center">
        <img src="{% asset 'v2/modules/Icon_Dashboard.svg' @path %}" class="icon">
        <h3>Diseño de cuadros de mando</h3>
        <p>Articulamos los cuadros de mando para que aporten todas las respuestas claras y necesarias a cada público</p>
      </div>

      <div class="center">
        <img src="{% asset 'v2/modules/Icon_Dashboard-bis.svg' @path %}" class="icon">
        <h3>Implantación y mantenimiento</h3>
        <p>Una vez que lanzamos Gobierto contratos lo ofrecemos como servicio o hosteado en tus servidores y con el máximo nivel de disponibilidad.</p>
      </div>

    </div>

  </div>

</div>


{% include v2/demo.html %}
{% include v2/slideshow.html %}
{% include v2/contact.html %}
{% include v2/clients.html %}
