<div class="Posts">
  <div class="Post__inner">
    <div class="Post__content" style="display: flex; text-align: left;">

      <div class="Categories__index " style="width: 25%; text-align: left;">

        <div class="sticky" style="padding-top: 75px;">
        <ul style="margin: 0;">
          {% assign sorted_cats = site.categories | sort %}

          {% for category in sorted_cats %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <li style="margin-bottom: 4px; font-size: 0.85em; line-height: 1;"><a href="#{{ category_name }}">{{ category_name | replace: "_", " " }}</a></li>
          {% endfor %}
        </ul>
        </div>

      </div>

      <div class="Posts__list" style="width: 60%; padding-left: 15%;">

        {% for category in site.categories %}
          {% capture category_name %}{{ category | first }}{% endcapture %}
          <p name="{{ category_name }}" id="{{ category_name }}"></p>
          <h2 class="category-head"><a href="/temas/{{ category_name }}">{{ category_name | replace: "_", " " }}</a></h2>

          {% for post in site.categories[category_name] %}
          <article class="archive-item" style="margin-bottom: 12px; line-height: 1;">
            <a href="{{ site.baseurl }}{{ post.url }}" style="font-size: .85em; line-height: 1; font-weight: normal;">{{post.title}}</a>
          </article>
          {% endfor %}

        {% endfor %}

      </div>

    </div>
  </div>
</div>
