<div class="Clients" id="clientes">
  <div class="Clients__inner">
    <div class="Clients__content">
      <div class="Clients__title">Estos son algunos de los clientes que confían en nosotros</div>
      <ul class="Client__logos">
        <li class="Client__logo">
          <a href="http://www.madrid.es" class="Client__link Icon__Madrid"></a>
        </li>
        <li class="Client__logo">
          <a href="http://ajuntament.barcelona.cat" class="Client__link Icon__Barcelona"></a>
        </li>
        <li class="Client__logo">
          <a href="http://www.dival.es" class="Client__link Icon__Valencia"></a>
        </li>
        <li class="Client__logo">
          <a href="http://www.alcobendas.org" class="Client__link Icon__Alcobendas"></a>
        </li>
        <li class="Client__logo">
          <a href="https://www.getafe.es" class="Client__link Icon__Getafe"></a>
        </li>
        <li class="Client__logo">
          <a href="http://www.esplugues.cat" class="Client__link Icon__Esplugues"></a>
        </li>
      </ul>
    </div>
  </div>
</div>

