<div class="Contact">
  <div class="Contact__inner">
    <div class="Contact__content">
      <div class="Contact__title">Gobierto en tu buzón</div>
      <div class="Contact__description"><span class="u--light">Subscríbete a nuestro boletín semanal y sé el primero en recibir noticias sobre</span> <span class="Gobiertify">Gobierto</span>.</div>
    </div>
    <div class="Contact__form">
      <div class="Input Contact__input">
        <input type="email" class="Contact__inputField Input__field" placeholder="Correo electrónico" />
        <button class="Contact__CTA Button Button--red">Suscríbeme</button>
      </div>
    </div>
  </div>
</div>

