<div class="Features">
  <div class="Features__inner">
    <div class="Features__header">
      <div class="Features__title">Características</div>
      <div class="Features__description">del módulo de {{ include.title }}</div>
    </div>
    <div class="Features__content">
      <div class="Features__keys">
        <div class="Feature__key">
          <div class="Features__keyIcon"></div>
          <div class="Features__keyDescription">
            Cumple de forma eficiente y usable con la ley de transparencia.
          </div>
        </div>
        <div class="Feature__key">
          <div class="Features__keyIcon"></div>
          <div class="Features__keyDescription">
            Automatiza la publicación de agendas.
          </div>
        </div>
        <div class="Feature__key">
          <div class="Features__keyIcon"></div>
          <div class="Features__keyDescription">
            Facilita la exploración de la información de cargos y directivos.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

