<div class="Footer">
  <div class="Footer__inner">
    <div class="Footer__content">
      <div class="Footer__logos">
        <a href="/" class="Footer__logo Logo"></a>
        <div class="Logo__creator">
          <!--<div class="Logo__description">Es un producto de</div>-->
          <!--<a href="http://populate.tools" class="Logo__populate"></a>-->
        </div>
      </div>
      <div class="Footer__navigation">
        <div class="Footer__area">
          <div class="Footer__areaTitle">Gobierto</div>
          <ul class="Footer__sections">
            <li class="Footer__section">
              <a href="/#demo" class="Footer__link js-smooth-scroll">Solicita una demo</a>
            </li>
            <li class="Footer__section">
              <a href="/acerca-de" class="Footer__link">Quiénes somos</a>
            </li>
            <li class="Footer__section">
              <a href="/blog" class="Footer__link {% if page.url == '/blog/' or page.layout == 'v2/post' %} is-active {% endif %}">Blog</a>
            </li>
            <li class="Footer__section">
              <a href="/#clientes" class="Footer__link js-smooth-scroll">Clientes</a>
            </li>
          </ul>
        </div>
        <div class="Footer__area">
          <div class="Footer__areaTitle">Módulos</div>
          <ul class="Footer__sections">

            {% for node in site.data.modules %}
            <li class="Footer__section">
              <a href="{{ node[1].permalink }}" class="Footer__link{% if page.url == node[1].permalink %} is-active{% endif %}">{{ node[1].short-title }}</a>
            </li>

            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
