<div class="Functionalities">
  <div class="Functionalities__inner">
    <div class="Functionalities__header">
      <div class="Functionalities__title">Funcionalidades</div>
      <div class="Functionalities__description">del módulo de {{ include.title }}</div>
    </div>
    <div class="Functionalities__content">
      <div class="Functionalities__explanation js-explanation">
        <div class="Functionalities__explanationContent">{{ include.functionalities[0].explanation }}</div>
      </div>
      <div class="Functionalities__features">
        <ul class="FunctionalityList">
          {% for f in include.functionalities %}
          <li class="FunctionalityList__item js-functionality" data-explanation="{{ f.explanation }}">
            <span class="Icon__tick"></span>
            <div class="FunctionalityList__itemShadow"></div>
            <div class="FunctionalityList__itemContent">
              <div class="FunctionalityList__itemTitle">{{ f.title }}</div>
              <div class="FunctionalityList__itemDescription">{{ f.description }}</div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
