<div class="Header">
  <div class="Header__inner">
    <a href="/" class="Logo"></a>
    <ul class="Header__options">
      <li class="Header__option">
        <a href="/acerca-de" class="Header__link">Nosotros</a>
      </li>
      <li class="Header__option">
        <a href="#" class="Header__link">Módulos <span class="Tooltip__target"></span></a>
        <div class="Tooltip Tooltip--hidden js-tooltip">
          <ul class="Tooltip__items"> 
            <li class="Tooltip__item"><a href="/modulos/presupuestos" class="Tooltip__link">Presupuestos</a></li>
            <li class="Tooltip__item"><a href="/modulos/participacion" class="Tooltip__link">Participación</a></li>
            <li class="Tooltip__item"><a href="/modulos/altos-cargos-y-agendas" class="Tooltip__link">Altos Cargos y Agenda</a></li>
            <li class="Tooltip__item"><a href="/modulos/indicadores" class="Tooltip__link">Indicadores</a></li>
          </ul>
        </div>
      </li>
      <li class="Header__option">
        <a href="/blog" class="Header__link">Blog</a>
      </li>
      <li class="Header__option">
        <a href="/#clientes" class="Header__link">Clientes</a>
      </li>
    </ul>
    <div class="Header__CTA">
      <a href="/#demo" class="Button">Solicita una demo</a>
    </div>

    <div class="Header__hamburger">
      <button class="Button Header__hamburgerIcon js-hamburger"></button>
      <div class="Header__hamburgerMenu">
        <button class="Button Button--close js-hamburger-close">x</button>
        <ul class="Header__hamburgerList">
          <li class="Header__hamburgerItem">
            <a href="/acerca-de" class="Header__link">Nosotros</a>
          </li>
          <li class="Header__hamburgerItem">
            <strong>Módulos</strong>
            <ul class="Tooltip__items">
              <li class="Header__option">
                <a href="/modulos/presupuestos" class="Header__link">Presupuestos</a>
              </li>
              <li class="Header__option">
                <a href="/modulos/participacion" class="Header__link">Participación</a>
              </li>
              <li class="Header__option">
                <a href="/modulos/altos-cargos-y-agendas" class="Header__link">Altos Cargos y Agenda</a>
              </li>
              <li class="Header__option">
                <a href="/modulos/indicadores" class="Header__link">Indicadores</a>
              </li>
            </ul>
          </li>

          <li class="Header__hamburgerItem">
            <a href="/acerca-de" class="Header__link">Nosotros</a>
          </li>
          <li class="Header__hamburgerItem">
            <a href="/acerca-de" class="Header__link">Nosotros</a>
          </li>

          <li class="Header__hamburgerItem">
            <a href="/acerca-de" class="Header__link">Nosotros</a>
          </li>
          <li class="Header__hamburgerItem">
            <a href="/acerca-de" class="Header__link">Nosotros</a>
          </li>
          <li class="Header__hamburgerItem">
            <a href="/acerca-de" class="Header__link">Nosotros</a>
          </li>
          <li class="Header__hamburgerItem">
            <a href="/acerca-de" class="Header__link">Nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

