<div class="Methodology">
  <div class="Methodology__shadow"></div>
  <div class="Methodology__inner">
    <div class="Methodology__content">
      <div class="Methodology__title">Nuestra metodología</div>
      <div class="Methodology__description">Gobierto te ayuda a definir e implementar estrategias de gobierno abierto y comunicación en tiempos digitales. Creamos soluciones centradas en el usuario, con métodos ágiles de investigación, desarrollo y tecnologías abiertas.</div>
    </div>
    <div class="Methodology__diagram">
      <div class="Methodology__logo"></div>
    </div>
  </div>
</div>
