{% if post.main_photo_big %}
  {% if post.main_photo_big contains '://' %}
    {% assign image_url = post.main_photo_big %}
  {% else %}
    {% capture image_url %}/assets/v1/{{ post.main_photo_big }}{% endcapture %}
  {% endif %}
{% endif %}

{% if post.main_photo %}
  {% if page.main_photo contains '://' %}
    {% assign image_url = post.main_photo %}
  {% else %}
    {% capture image_url %}/assets/v1/{{ post.main_photo }}{% endcapture %}
  {% endif %}
{% endif %}

<a href="{{ post.url | prepend: site.baseurl }}" class="Blog__thumbnail" style="{% if image_url != '' %} background-image: url('{{ image_url }}'){% endif %}">
</a>
<div class="Blog__entryTitle">
  <a class="Blog__entryLink" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
<div class="Blog__entryDescription">{{ post.excerpt | strip_html | strip_newlines | truncate: 160  }}</div>

{% capture image_url %}{% endcapture %}
