@import 'helpers/reset';
@import 'helpers/mobile';
@import 'helpers/helpers';

@import 'Post';
@import 'Blog';
@import 'Slideshow';
@import 'Browser';
@import 'Button';
@import 'Clients';
@import 'Contact';
@import 'Cover';
@import 'Demo';
@import 'Features';
@import 'Footer';
@import 'Functionalities';
@import 'GlobalFunctionalities';
@import 'Header';
@import 'Icon';
@import 'Input';
@import 'Logo';
@import 'Methodology';
@import 'ModuleCover';
@import 'Modules';
@import 'Tooltip';
@import 'Users';

body {
  background: $cBlue;
  @include sans-serif(14px, 400, $cWhite);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1.1em;
  line-height: 135%;
}

strong {
  font-weight: 700;
}

.u--light {
  opacity: 0.7;
}

.Gobiertify {
  padding-left: 5px;
  font-weight: 900;
  cursor: default;
}

.Gobiertify:hover::before {
  transform: rotate(360deg);
}
.Gobiertify::before {
  transform-origin: 12px;
  transition: all .8s ease-in-out;
  content: '';
  position: relative;
  display: inline-block;
  background: url(asset_path('mark.svg')) 0 0 no-repeat;
  background-size: cover;
  vertical-align: middle;
  width: 20px;
  height: 22px;
  top: -2px;
  left: -4px;
}


