

.Blog {
  background: $cWhite;
  padding: 120px 0;
}
.Blog__inner {
  width: $innerSize;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.Blog__content {
  width: 443px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.Blog__footer {
  padding: 20px 0;
}
.Blog__thumbnail {
  display: block;
  width: 100%;
  height: 300px;
  background: rgba($cLightGray, 0.2) url(asset_path('blog.png')) 0 0 no-repeat;
  margin: 0 0 12px;
  background-size: cover;
  background-position: 50% 50%;
  transition: all $transitionRegular ease-in-out;
}

.Blog__title {
  margin: 0 auto 32px;
  @include sans-serif(42px, 700, $cYellow);
  text-transform: uppercase;
  line-height: 120%;
}

.Blog__titleLink {
  font-family: 'Source Sans Pro', serif;
  @include sans-serif(42px, 700, $cYellow);
}

.Blog__description {
  opacity: 0.7;
  @include sans-serif(24px, 400, $cDarkGray);
  line-height: 120%;
}

.Blog__entryTitle a {
  @include sans-serif(20px, 700, $cBlue);
  display: block;
  margin: 0 0 8px;
  color: $cGreen;
  font-weight: 700;
  text-decoration: none;
  transition: color $transitionRegular ease-in-out;
}
.Blog__entryTitle a:hover {
  color: darken($cGreen, 20%);
}

.Blog__entryDescription a {
  color: $cGreen;
  font-weight: 400;
  transition: color $transitionRegular ease-in-out;
}

.Blog__entryDescription a:hover {
  color: darken($cGreen, 20%);
}
.Blog__entryDescription,
.Blog__entryDescription p {
  @include sans-serif(16px, 400, $cDarkGray);
  line-height: 120%;
}

.Button.Blog__CTA {
  font-size: 16px;
  width: 100%;
  margin: 32px 0 0;
  padding: 20px 32px;
}


.Posts {
  background: $cWhite;
  padding: 24px 0 128px;
  text-align: center;
}

.Posts__inner {
  text-align: left;
  width: 90%;
  display: grid;
  box-sizing: border-box;
  margin: auto;
  grid-gap: 24px;
  grid-row-gap: 34px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // TODO: IE/edge don't understand CSS GRID
}

@media only screen and (min-width : $cMediaStretched) {
  .Posts__inner {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
