@import 'helpers/helpers';

.Blog {
  background: $cWhite;
  padding: 120px 0;
}
.Blog__inner {
  width: $innerSize;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.Blog__content {
  width: 443px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.Blog__header {
}
.Blog__footer {
  padding: 20px 0;
}
.Blog__entryTitle {
  @include sans-serif(24px, 700, $cCyan);
  margin: 0 0 4px;
  line-height: 120%;
}
.Blog__entryDescription {
  opacity: 0.7;
  @include sans-serif(18px, 400, $cDarkGray);
  line-height: 120%;
}
.Blog__entryLink {
  text-decoration: none;
  @include sans-serif(24px, 700, $cCyan);
}
.Blog__slideshow {
  width: 653px;
}
.Blog__thumbnail {
  display: block;
  width: 100%;
  height: 200px;
  background: $cLightGray;
  margin: 0 0 12px;
  background-size: cover;
  background-position: 50% 50%;
  transition: all $transitionRegular ease-in-out;
}
.Blog__thumbnail:hover {
  background-size: 220% 220%;
}

.Blog__title {
  margin: 0 0 4px;
  @include sans-serif(42px, 700, $cYellow);
  line-height: 120%;
}
.Blog__description {
  opacity: 0.7;
  @include sans-serif(24px, 400, $cDarkGray);
  line-height: 120%;
}

.Blog__link {
  color: $cGreen;
  text-decoration: none;
  font-weight: 700;
}
.Button.Blog__CTA {
  font-size: 16px;
  width: 100%;
  margin: 32px 0 0;
  padding: 20px 32px;
}


.Posts {
  background: $cWhite;
  padding: 120px 0;
}

.Posts__inner {
  width: 90%;
  display: grid;
  box-sizing: border-box;
  margin: auto;
  grid-gap: 24px;
  grid-row-gap: 34px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media only screen and (min-width : $cMediaStretched) {
  .Posts__inner {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}


@media only screen and (max-width : 1280px) {
  .Posts__inner {
    width: $innerSize;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media only screen and (max-width : $cMediaStretched) {
  .Posts__inner {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
