@import 'helpers/helpers';

@import 'Blog';
@import 'Browser';
@import 'Button';
@import 'Clients';
@import 'Contact';
@import 'Cover';
@import 'Demo';
@import 'Footer';
@import 'Header';
@import 'Icon';
@import 'Input';
@import 'Logo';
@import 'ModuleCover';

@import 'Modules';
body {
  background: $cBlue;
  @include sans-serif(14px, 400, $cWhite);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1.1em;
  line-height: 135%;
}

strong {
  font-weight: 300;
}

.Gobiertify {
  padding-left: 3px;
  font-weight: 900;
}
.Gobiertify::before {
  content: '';
  position: relative;
  display: inline-block;
  background: url(/../../v2/images/mark.svg) 0 0 no-repeat;
  background-size: cover;
  vertical-align: middle;
  width: 20px;
  height: 22px;
  top: -2px;
  left: -3px;
}
.u--light {
  opacity: 0.7;
}

.Functionalities {
  padding: 120px 0;
}
.Functionalities__inner {
  width: $innerSize;
  margin: auto;
}
.Functionalities__header {
  margin: 0 0 60px;
  width: $innerSize;
  margin: 0 auto 60px;
}
.Functionalities__title {
  @include sans-serif(42px, 700, $cWhite);
  line-height: 120%;
}
.Functionalities__description {
  @include sans-serif(36px, 700, $cYellow);
  line-height: 120%;
}
.Functionalities__content {
  text-align: left;
  display: flex;
}
.Functionalities__explanation {
  width: 100%;
  position: relative;
  background: rgba(255,255,255,0.20);
  padding: 64px;
  box-sizing: border-box;
}

.Functionalities__explanation p {
  margin: 0 0 16px;
}

.Functionalities__features {
  background: $cBlue;
}
.FunctionalityList {
}
.FunctionalityList__itemShadow {
  width: 40px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #FFFFFF;
  opacity: 0;
  background-image: linear-gradient(270deg, #425E7C 0%, #000 80%, #000 90%);
  transition: opacity $transitionRegular linear;
}
.FunctionalityList__item {
  position: relative;
  padding: 18px 0 18px 95px;
  display: flex;
  align-items: center;
  transition: background $transitionSlow ease-in-out;
  cursor: pointer;
}
.FunctionalityList__item:hover {
  background: #425E7C;
}
.FunctionalityList__item:hover .FunctionalityList__itemShadow {
  opacity: .3;
}
.FunctionalityList__itemContent {
  margin: 0 0 0 10px;
  width: 500px;
}
.FunctionalityList__item:last-child {
  margin: 0;
}
.FunctionalityList__itemTitle {
  text-transform: uppercase;
  @include sans-serif(24px, 700, $cWhite);
}
.FunctionalityList__itemDescription {
  opacity: 0.6;
  line-height: 120%;

  @include sans-serif(16px, 300, $cWhite);
}



.Features {
  padding: 120px 0;
  background: $cWhite;
}
.Features__inner {
  width: $innerSize;
  margin: auto;
}
.Features__keys {
  display: flex;
  margin: 94px 0 0 0;
  justify-content: space-around;
}
.Feature__key {
  text-align: center;
  width: 246px;
}
.Features__keyDescription {
  @include sans-serif(18px, 300, #333);
  line-height: 120%;
}
.Features__keyIcon {
  background: #f0f0f0;
  width: 112px;
  height: 112px;
  border-radius: 100%;
  margin: 0 auto 24px auto;
}
.Features__title {
  @include sans-serif(42px, 700, $cBlue);
  line-height: 120%;
}
.Features__description {
  @include sans-serif(36px, 700, $cYellow);
  line-height: 120%;
}
