.Functionalities {
  padding: 120px 0;
}
.Functionalities__inner {
  width: $innerSize;
  margin: auto;
}
.Functionalities__header {
  margin: 0 0 60px;
  width: $innerSize;
  margin: 0 auto 60px;
}
.Functionalities__title {
  @include sans-serif(42px, 700, $cWhite);
  line-height: 120%;
}
.Functionalities__description {
  @include sans-serif(36px, 700, $cYellow);
  line-height: 120%;
}
.Functionalities__content {
  text-align: left;
  display: flex;
}
.Functionalities__explanation {
  width: 100%;
  position: relative;
  background: rgba(255,255,255,0.20);
  padding: 64px;
  box-sizing: border-box;
}

.Functionalities__explanation p {
  margin: 0 0 16px;
}

.Functionalities__features {
  background: $cBlue;
}
.FunctionalityList__itemShadow {
  width: 40px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #FFFFFF;
  opacity: 0;
  background-image: linear-gradient(270deg, #425E7C 0%, #000 80%, #000 90%);
  transition: opacity $transitionRegular linear;
}
.FunctionalityList__item {
  position: relative;
  padding: 18px 0 18px 95px;
  display: flex;
  align-items: center;
  transition: background $transitionSlow ease-in-out;
  cursor: pointer;
}
.FunctionalityList__item:hover {
  background: #425E7C;
}
.FunctionalityList__item:hover .FunctionalityList__itemShadow {
  opacity: .3;
}
.FunctionalityList__itemContent {
  margin: 0 0 0 10px;
  width: 500px;
}
.FunctionalityList__item:last-child {
  margin: 0;
}
.FunctionalityList__itemTitle {
  text-transform: uppercase;
  @include sans-serif(24px, 700, $cWhite);
}
.FunctionalityList__itemDescription {
  opacity: 0.6;
  line-height: 120%;

  @include sans-serif(16px, 400, $cWhite);
}
.Functionality__explanation {
  display: none;
}

@media (max-width: $cMediaStretched) {
  .Functionalities__inner {
    width: 90%;
  }
  .Functionalities__header {
    width: 100%;
  }
}

@media (max-width: $cMediaTablet) {
  .Functionalities__content {
    flex-direction: column;
  }
}

@media (max-width: $cMediaMobile) {
  .FunctionalityList__item {
    padding: 18px 0;
  }
  .FunctionalityList__itemContent {
    flex: 1;
  }
  .Functionalities__explanation {
    display: none;
  }
  .Functionality__explanation {
    display: block;
  }
  .Functionality__explanation a {
    color: $cGreen;
  }
  .FunctionalityList__itemShadow {
    display: none;
  }
  .FunctionalityList__item:hover {
    background: none;
  }
}

@media (max-width: $cMediaMobile) and (orientation: portrait) {
  .Functionalities {
    padding: 60px 0;
  }
  .Functionalities__title {
    font-size: 36px;
  }
  .Functionalities__description {
    font-size: 32px;
  }
}
