@import 'helpers/helpers';

.Header {
  background: $cWhite;
  padding: 32px 0 24px;
  border-bottom: 1px solid $cSubtleGray;
}
.Header__inner {
  display: flex;
  margin: auto;
  width: $innerSize;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
.Header__options {
  display: flex;
  width: 416px;
  justify-content: space-between;
  align-items: center;
}
.Header__option {
  padding: 5px 0;
  position: relative;
}
.Header__link {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  @include sans-serif(18px, 400, #9B9B9B);
  text-decoration: none;
  margin: 0 5px;
  transition: color $transitionSlow ease-in-out;
}
.Header__link.is-active {
  font-weight: 700;
}
.Header__link.is-active:hover {
}
.Header__link:hover {
  color: $cDarkGray;
}

.Header__hamburger {
  display: none;
}

.Header__hamburgerIcon {
  display: none;
  background: red;
  border-radius: none;
  width: 20px;
  height: 20px;
}

.Header__hamburger.is-open .Header__hamburgerMenu {
  transform: translate(0, 0);
}

.Header__hamburgerList {
}

.Header__hamburgerMenu {
  width: 50%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translate(1000px, 0);
  z-index: 100;
  transition: transform $transitionSlow ease-in-out;
}

.Header__hamburgerMenu {
  text-align: center;
  overflow-y: auto;
}

.Header__hamburgerItem {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.Header__hamburgerMenu .Tooltip__link {
  color: $cBlue;
}

#banner {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

#banner canvas {
  margin: auto;
}


/*
@media (max-width: $cMediaStretched) {
  .Header__inner {
    width: 90%;
  }
}

@media (max-width: $cMediaTablet) {
  .Header__inner {
    width: 90%;
  }
}

@media (max-width: $cMediaMobile) {
  .Header__hamburger {
    display: block;
  }
  .Header__hamburgerIcon {
    display: block;
  }
  .Header__CTA {
    display: none;
  }
  .Header__hamburgerMenu {
    width: 100%;
    position: fixed;
  }
  .Header .Logo {
    background-size: 100px;
  }
  .Header__inner {
    width: 90%;
  }
  .Header__options {
    display: none;
  }
}
*/
