

.Header {
  background: $cWhite;
  padding: 32px 0 24px;
  border-bottom: 1px solid $cSubtleGray;
}
.Header__inner {
  display: flex;
  margin: auto;
  width: $innerSize;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
.Header__options {
  display: flex;
  width: 416px;
  justify-content: space-between;
  align-items: center;
}
.Header__option {
  padding: 5px 0;
  position: relative;
}
.Header__link {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  @include sans-serif(18px, 400, #9B9B9B);
  text-decoration: none;
  margin: 0 5px;
  transition: color $transitionSlow ease-in-out;
}

.Header__CTA {
  min-width: 136px;
  display: block;
}
.Header__Button {
  min-width: 136px;
  display: block;
  box-sizing: border-box;
}

.Header__link.is-active {
  font-weight: 700;
}
.Header__link.is-active:hover {
}
.Header__link:hover {
  color: $cDarkGray;
}

#banner {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

#banner canvas {
  margin: auto;
}

@media (max-width: $cMediaStretched) {
  .Header__inner {
    width: 90%;
  }

  .Header__options {
    display: flex;
    width: 100%;
    margin: 0 32px;
  }
}

@media (max-width: $cMediaTablet) {
  .Header__inner {
    width: 90%;
  }
  .Header__CTA {
    display: none;
  }
  .Header .Logo {
    //background-size: 100px;
  }
  .Header__inner {
    width: 90%;
  }
  .Header__options {
    display: none;
  }
}
