@import 'helpers/helpers';

.Logo {
  display: block;
  background: url(asset_path('logo-gobierto.svg')) 0 0 no-repeat;
  background-size: cover;
  width: 194px;
  height: 34px;
  margin-top: -4px;
}
.Logo__populate {
}
.Logo__creator {
}
.Logo__description {
}



