.Modules {
  background: $cWhite;
  padding: 80px 0;
  overflow: hidden;
}
.Modules__inner {
  width: $innerSize;
  margin: auto;
}
.Module__listItem {
  position: relative;
  padding: 126px 0;
  display: flex;
}
.Module__listItem:nth-child(even) {
  flex-direction: row-reverse;
}
.Module__separator {
  background: #f0f0f0;
  width: 70%;
  height: 1px;
  margin: auto;
}
.Module__CTA {
  font-size: 16px;
  margin: auto;
  padding: 12px 16px;
}
.Module__content {
  padding: 22px 0 0 0px;
  width: 557px;
  text-align: center;
}
.Module__title {
  @include sans-serif(42px, 700, $cCyan);
  line-height: 120%;
  margin: 0 0 4px;
  text-align: left;
}
.Module__description {
  opacity: 0.6;
  @include sans-serif(24px, 400, $cDarkGray);
  line-height: 120%;
  margin: 0 0 32px;
  text-align: left;
}
.Module__features {
  text-align: left;
  margin: 0 0 70px;
}
.Module__feature {
  display: flex;
  align-items: center;
  @include sans-serif(18px, 700, $cDarkGray);
  border-bottom: 1px solid $cSubtleGray;
  padding: 0 0 16px;
  margin: 0 0 16px;
}
.Module__feature:last-child {
  border: none;
}
.Module__featureDescription {
  width: 580px;
  margin: 0 0 0 12px;
}
.Module__preview {
  position: absolute;
  right: -32%;
  top: 50%;
  margin-top: -285px;
}
.Module__listItem:nth-child(even) .Module__preview {
  left: -35%;
  right: auto;
}
.Module__browser {
  display: block;
}
.animate .Module__browser {
  transform: translate(0, -12px);
  box-shadow: 0 4px 32px 0 rgba(0,0,0,0.30);
}

@media (max-width: $cMediaMobile) {
  .Module__browser {
    display: none;
  }
  .Module__content {
    width: 100%;
  }
}

@media (max-width: $cMediaStretched) {
  .Modules__inner {
    width: 90%;
  }
  .Module__preview {
    right: -50%;
    top: initial;
    margin-top: 0;
  }
  .Module__listItem:nth-child(even) .Module__preview {
    left: -50%;
  }
  .Module__featureDescription {
    flex: 1;
  }
}

@media (max-width: $cMediaTablet) {
  .Module__preview {
    right: -100%;
  }
  .Module__listItem:nth-child(even) .Module__preview {
    left: -100%;
  }
}

@media (max-width: $cMediaMobile) and (orientation: portrait) {
  .Modules {
    padding: 40px 0;
  }
  .Module__listItem {
    padding: 63px 0;
  }
}
