.Post {
  background: $cWhite;
  padding: 64px 0 128px;
}
.Post__inner {
  width: $innerSize;
  margin: auto;

  @media all and (max-width : $cMediaStretched) {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1em;
  }
}

.Post__header {
  width: 960px;
  margin: 0 auto 32px;
  text-align: center;

  @media all and (max-width : $cMediaStretched) {
    width: 100%;
  }
}

.Post img.heading {
  width: 100%;
  height: auto;
  margin: 0 0 2em;
}

.Post__meta {
  margin: 0 auto 32px;
  text-align: center;
  @include sans-serif(18px, 400, #333);
  opacity: .7;
}

.Post__author {
  font-weight: 700;
}

.Post__date {
  opacity: .7;
}

.Post__title {
  @include sans-serif(42px, 700, $cBlue);
  line-height: 120%;
  margin: 0 0 8px;

  @media all and (max-width : $cMediaMobile) {
    @include sans-serif(24px, 700, $cBlue);
  }
}

.Post__subtitle {
  @include sans-serif(16px, 400, $cYellow);
  line-height: 120%;
  text-transform: uppercase;
  width: 800px;
  margin: auto;

  @media all and (max-width : $cMediaStretched) {
    width: 100%;
  }
}

.Post__image {
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: 50%;
  margin: 0 0 32px;
}

.Post__content {
  margin: auto;
  width: 800px;
  @include sans-serif(20px, 400, #333);
  line-height: 145%;

  @media all and (max-width : $cMediaStretched) {
    width: 100%;
  }

  @media all and (max-width : $cMediaMobile) {
    @include sans-serif(16px, 400, #333);
  }
}

.Post__content h2 {
  font-weight: 700;
  margin: 48px 0 16px 0;
  color: $cYellow;
  font-size: 22px;
  text-transform: uppercase;
}

.Post__content h3 {
  margin: 32px 0 16px 0;
  @include sans-serif(18px, 700, $cRed);
  text-transform: uppercase;
}

.Post__content em {
  font-style: italic;
}

.Post__content strong {
  font-weight: 700;
}

.Post__content a {
  color: $cGreen;
  font-weight: 700;
  text-decoration: none;
  transition: color $transitionRegular ease-in-out;
}

.Post__content a:hover {
  color: darken($cGreen, 20%);
}

.Post__content p {
  margin: 0 0 16px;
}


.Post__content ul {
  margin: 0 0 14px 32px;
}

.Post__content li {
  margin: 0 0 4px;
}

.Post__content img {
  width: 100%;
  height: auto;
}

.Post__content li:before {
  content: '•';
  font-size: 28px;
  color: $cYellow;
  margin: 0 8px 0 0;
}

.Post__content hr {
  border: none;
  border-top: 1px solid $cGray;
  height: 1px;
  width: 25%;
  margin: 2em auto;
}

.Post__content img.inline {
  border: 1px solid $cGray;
}

.Post__categories {
  font-size: 16px;
  margin: 32px 0 0;
}

/* TODO: fix class names */
.quote {
  @include sans-serif(24px, 700, $cBlue);
  padding: .5em 0 0 0;
  background: #FFF;
  position: relative;

  display: block;
  width: 80%;
  font-style: italic;
  margin: 32px 0;
  font-size: 24px;
  line-height: 32px;

}
.quote cite {
  display: block;
  font-size: 18px;
  font-style: normal;
  opacity: .5;
}

.quote:before {
  display: block;
  content: "\201C";
  font-size: 6em;
  line-height: .75em;
  position: absolute;
  left: -20%;
  color: #DFDFDF;
}

.Post__content img.Outline {
  margin: 2em 0;
  border: 1px solid $cYellow;
}
.Post__content img.Shadow {
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.20);
}

@media (max-width: $cMediaMobile) and (orientation: portrait) {
  .Post {
    padding: 32px 0 64px;
  }
}
