

.Tooltip__target {
  margin: 0 0 0 3px;
  display: inline-block;
  background: url(asset_path('tooltip-target.svg')) 0 0 no-repeat;
  width: 10px;
  height: 6px;
  background-size: cover;
  vertical-align: middle;
}

.Tooltip {
  position: absolute;
  top: 36px;
  right: -100px;
  min-width: 180px;
  background: $cGreen;
  border-radius: 4px;
  transition: all .3s;
  z-index: 30;
  transition: all 2s ease;
  padding: 16px 20px;
  transition: opacity $transitionRegular ease-in-out;
  opacity: 1;
}

.Tooltip--hidden {
  pointer-events: none;
  opacity: 0;
}

.Tooltip::before {
  position: absolute;
  margin-left: -7px;
  top: -14px;
  border: 7px solid transparent;
  border-bottom: 7px solid rgba(0,0,0,0.08);
  content: '';
  width: 0;
  height: 0;
  left: 50%;
}

.Tooltip::after {
  position: absolute;
  margin-left: -6px;
  top: -12px;
  border: 6px solid transparent;
  border-bottom: 6px solid $cGreen;
  content: '';
  width: 0;
  height: 0;
  left: 50%;
}

.Tooltip__item:first-child {
  padding-top: 0;
}

.Tooltip__item:last-child {
  border: none;
  padding-bottom: 0;
}

.Tooltip__item {
  padding: 6px 0;
}

.Tooltip__link {
  text-decoration: none;
  @include sans-serif(16px, 400, #fff);
  transition: color $transitionRegular linear;
}

.Tooltip__link:hover {
  color: $cBlue;
}
.Tooltip__link.is-active {
  font-weight: 700;
}

