<!DOCTYPE html>
<html>
{% include head.html %}
<body class="overflow-x-hidden" id="page-top">
<div>

  {% include header.html %}

  <main>
  {{ content }}
  </main>

  {% include footer.html %}

  <a class="fixed bottom-0 right-0 p-2 md:hidden rounded-full w-10 bg-gray-100 text-center m-2 opacity-75" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

</div>
<script src="https://instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
</body>
</html>
