---
layout: blog
---

{% capture i18n_date -%}
{{ page.date | date: "%-d" -}}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{{ site.data.months[m] }}
{{ page.date | date: "%Y" -}}
{% endcapture -%}

<div class="mb-4 text-xs uppercase opacity-50">
  <a href="/blog">Blog</a> <span class="text-gray-500 inline-block mx-2">/</span>
  {% if page.categories %}
    {% for cat in page.categories limit:1 %}
      <a href="/temas/{{cat}}">{{ cat }}</a>
    {% endfor %}
  {% endif %}
</div>

<article class="" itemscope itemtype="http://schema.org/Article" >

  <!-- <div class="sticky js-toc"></div> -->

  {% if page.main_photo_big %}
    {% if page.main_photo_big contains '://' %}
      <img src="{{ page.main_photo_big }}" class="heading" itemprop="img heading" title="{% if page.main_photo_caption %}{{ page.main_photo_caption }}{% endif %}">
    {% else %}
      <img src="{% asset '{{ page.main_photo_big }}' @path %}" class="heading" itemprop="img heading" />
    {% endif %}
  {% endif %}

  <div class="">
    <h1 class="text-3xl font-bold color-brand-blue-dark" itemprop="name headline" data-share-text>{{ page.title }}</h1>
    <div class="mb-4 color-brand-yellow" itemprop="description">{{ page.subtitle }}</div>

    {% if page.main_photo %}
      {% if page.main_photo contains '://' %}
        wadus
      {% else %}
        <img src="{% asset '{{ page.main_photo }}' @path %}" class="mb-8" itemprop="img heading" />
      {% endif %}
    {% endif %}

    <div class="js-toc-content">
      {{ content }}
    </div>

    <div class="Post__meta">

      <div class="Post__author_container">
        <div class="Post__author"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></div>
        <div class="Post__date">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ i18n_date }}</time>
        </div>
      </div>

      {% include v2/share_icons.html %}

    </div>

    {% if page.categories %}
    <div class="Post__categories">
      Más sobre:
      {% for cat in page.categories %}
      <a href="/temas/{{cat}}">{{ cat }}</a> ·
      {% endfor %}
    </div>
    {% endif %}


    <div class="Posts__last">
      <h2>Últimos posts publicados</h2>

    {% for post in site.posts limit:5 %}
      <div class="Posts__post">
        <a class="Blog__entryLink" href="{{ post.url | prepend: site.baseurl }}">
          <span class="date">{{ post.date | date_to_string }}</span>
          <span itemprop="name headline">{{ post.title }}</span>
        </a>
      </div>
    {% endfor %}
      <div class="Posts__post">
        <a class="Blog__entryLink" href="/blog/">
          <span class="date"> </span>
          <span itemprop="name headline">ver todos</span>
        </a>
      </div>
    </div>

  </div>

</article>
